<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <section class="titleContainer">
        <section class="title">
            <div id="yatraTitle"> 
                <b style="font-family: 'Yatra One', cursive; font-size: 2.1em;">JONATHAN SKJ&#216;TT</b>
            </div>
            <div id="oneLiner"> a media prototyper playing with film, history, and programming. </div> 
        </section>    
    </section>

    <section class="header" id="header">
        <span v-if="renderProjectMenu" style="color: white; background-color: black;">
              <button class="btn active" onclick="filterSelection('programming')"> Programming</button>
            /
              <button class="btn" onclick="filterSelection('design')">Design</button>
            /
              <button class="btn" onclick="filterSelection('storytelling')">Storytelling</button>
            /
              <button class="btn" onclick="filterSelection('all')">All</button> 
        </span> 
        <span style="color: white; background-color: black;">
            <div style="float: right; color: white; background-color: black;">
            <button class="btn" onclick="filterSelection('media')" >Media Studies</button>
            \
            <button class="btn" onclick="filterSelection('manifestations')" >Manifestations</button>
            \
            <button class="btn" onclick="filterSelection('about')" >About</button>
            </div>
            
        </span>
    </section>

    <section v-bind:class="mainArea" id="vue">
        <template v-if="mainArea === 'projects'" v-for="item in items">
            <div v-bind:class="item.class">
                <article @click="hashChange(item.contentLink)" v-bind:class="item.class">
                    <img :src="item.image" style="border-radius: 2px; border: 1px solid;">
                    <main class="card__description">
                        <p style="font-family: 'Inter UI', sans-serif; margin-bottom: 0;">{{item.title}}</p> <p style="color: grey; margin-top: 0;">{{item.text}}</p>
                    </main>
                </article>
            </div>
        </template>
        <template v-if="mainArea === 'page' && !isProcessing">
            <div id="page">
                <vue-markdown> {{pageContent}} </vue-markdown>    
            </div>
        </template>
        <div v-if="mainArea === 'media'">
            <p>These studies are works in progress // please share comments on desired channels.</p>
            <template v-for="medium in media">
                <div class="medium">
                    <div>
                        <p><b>{{medium.title}}</b></p>
                    </div>
                    <div>
                        <template v-for="page in medium.pages">
                            <article @click="hashChange(page.contentLink)">
                                <div class="study">
                                    <p>{{page.title}}</p>
                                </div>
                            </article>
                        </template>
                    </div>
                </div>
            </template>
        </div>
        <div v-if="mainArea === 'manifestations'">
            <p> A collection of personal displays / demonstrations / professions / exhibitions / indications / illustrations / exemplifications / declarations / expressions </p>
            <div id="index">
                <div id="manifestationHeader">
                    <b> MANIFESTATIONS </b>
                </div>
                <template  v-for="page in manifestations">
                        <article @click="hashChange(`manifestations-${ page.contentLink}`)" class="entry">
                            <div>
                                <p style="margin: 0 5px 0 0"><b>{{page.title}}</b></p> <p style="color: grey; margin: 0">{{page.text}}</p>
                            </div>
                        </article>
                </template>
            </div>
            <div v-if="pageContent" id="page">
                <vue-markdown id="content"> {{ pageContent }} </vue-markdown>    
            </div>
        </div>
        <template v-if="mainArea === 'about'" >
            <div class="imageColumn"><img src="img/portrait.jpg"></div>
            <div class="aboutColumn"> 
                I am currently in programmingland at <a href="http://www.recurse.com">Recurse Center</a>. So far I have created:
                <ul>
                  <li>A git-based <a href="https://github.com/jskjott/git-for-filmmakers">version control tool for filmmakers</a> using Electron, Typescript, and Vue.js.</li>
                  <li>An <a href="https://github.com/jskjott/casette">audio sequencer</a> to use with live coding environments such as TidalCycles or VCV Rack. I connected my sequencer to these tools with web MIDI and OSC (open sound control).</li>
                  <li>A <a href="https://github.com/jskjott/webring">webring</a> to encourage recursers to create homes for themselves.</li>
                  <li>A realtime <a href="https://github.com/jskjott/midi-plotter">midi sound visualisation tool</a> with Rust. The code has a multithreaded structure in which one thread listens for midi input, and another thread draws what is received.</li>
                </ul>

                In the past I did service design at <a href="http://www.digitalcreativity.ac.uk">Digital Creativity Labs</a>, played with hardware and film at <a href="http://www.fablab-seoul.org">FabLab Seoul</a>, and made a Massive Open Online Course (MOOC) with <a href="http://www.kiron.ngo">Kiron Open Higher Education</a>.
                I recently finished my studies in Computational Sciences and History at <a href="http://www.minerva.kgi.edu">Minerva Schools at KGI</a>.
            </div>
        </template>
    </section>

    <section class="footer">
        <span></span>
        <span class="footerItem"> (*^^*)♡</span>
        <a class="footerItem" href='https://webring.recurse.com'>
            <img style="width: 100%;" src='https://webring.recurse.com/icon.png'/>
        </a>
        <a href='https://webring.xxiivv.com' target='_blank'>
            <img style="width: 100%;" src='https://webring.xxiivv.com/icon.black.svg'/>
        </a>
    </section>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-markdown@2.2.4/dist/vue-markdown.js"></script>
<script src="index.js"></script>
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">