:root {
	/*blues*/
	--brightblue: #1e52fe;
	--darkblue: #527785;
	/*reds*/
	--brightred: #C99D9D;
	--darkred: #A46666;
	/*yellows*/
	--brightyellow: #eedc82;
	--darkyellow: #e1ad01;

	/*greens*/
	--brightgreen: #b2beb5;

	/*greys*/
	--lighter: #EAEBEF;
	--light: #A4A4A4;
	--dark: #636f74;
	--darker: #3f464a;
}

--f_reg: 'mononoki_regular';
  --f_bold: 'mononoki_bold';
  --f_italic: 'mononoki_italic';
  --f_bold_italic: 'mononoki_bold_italic'; 



p {
	font-size: 1vw;
	color: var(--light)
}

li {
	padding: 0.3em 0 0.3em 0;
}

datalist {
	position: top;
}

html, body {
    max-width: 100%;
}

blockquote {
	display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 2em;
    margin-inline-end: 1em;
}

blockquote > p {
	width: fit-content;
	color: #404046;
	background: white;
	padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}

p > img {
	margin-left: 25%;
	width: 75%;
}

#header {
	height: 40%;
	display: grid;
	grid-template-columns: 30px 1fr;
}

#main {
	min-height: calc(100vh - 4.5em);
	width: auto;
}

#content {
	width: calc(100% - (2rem + 1em));
	min-height: calc(100vh - 4.5em);
    height:100%;
    padding-left: calc(2rem + 1em);
    overflow-x: scroll;
    white-space: nowrap;
}

.page {
	vertical-align:top;
	display: inline-block;
	white-space: normal;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#page {
	height: auto; 
	width: calc(100% - (2rem + 1em) - 250px);
	max-width: 700px;
	vertical-align:top;
	display: inline-block;
	white-space: normal;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.mentionedPage {
	opacity: 0.7;
	vertical-align:top;
	display: inline-block;
	white-space: normal;
	height: 70vh;
	overflow-x: hidden;
	overflow-y: scroll;
    width: 500px;
    margin: 1rem 1rem 1rem 1rem;
}

h2 {
	margin-top: 0.45em;
}

#footer {
	font-size: 0.8em;
	background: var(--light);
	padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.footerItem {
	color: white;
	max-width: 250px;
}

#headerImage {
	width: auto;
	height: 350px;
}

#meta {
	display: grid;
	grid-template-columns: 30px 5fr;
	position: relative;
	background-color: var(--lighter);
	word-break: break-all;
	color: white;
}

#goto {
	width: 250px;
	font-family: var(--f_reg);
	font-size: 2em;
	background-color: var(--darker);
	color: var(--brightred);
	position: absolute;
    bottom: 0;
    left: 0;
    border: none;
}

#sidebar {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 1em 25px 25px 25px;
}

#sidebarElement {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 1em 25px 25px 25px;
}

span > a {
	color: white;
	background: #c6c2b6;
	margin: 0.25rem; 
	padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
	margin-left: 0;
	border-radius: 0.25em;
	/*border: 0.5px solid var(--brightblue);*/
	cursor: pointer;
}

#bottomimg {
	position: absolute;
    top: 35px;
    left: 15px;
}

#vertical {
	top: 25px;
	left: 25px;
	padding: 40px 5px 5px 5px;
	writing-mode: vertical-rl;
	position: absolute;
	color: var(--lighter);
	background: var(--brightred);
}

.sider {
	color: var(--lighter);
	cursor: pointer;
	font-family: var(--f_bold);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
	margin: 0;
	background: var(--lighter);
	color: var(--dark);
	background-size: 80px 80px;
    font-family: var(--f_reg);
}

hr {
	border: 0.5px solid var(--brightblue);
}

#title {
  font-size: 3.5rem;
  writing-mode: vertical-rl;
  color: var(--light);
  padding: 1rem;
  font-family: var(--f_bold);
  border-style: solid;
  border-color: var(--light);
  border-width: 1rem;
}

a {
	color: var(--dark);
	/*text-decoration: none;	*/
}

a[href*="http"] {
	color: var(--dark);
	background: url('img/external_arrow.png') no-repeat 100% 0;
	background-size: 16px 16px;
	padding-right: 19px;
}

.footerItem > a[href*="http"] {
	background: none;
	background-size: 16px 16px;
	padding-right: 19px;
}

.h3Link {
	font-size: 2em;
}

.content {
	width: 800px;
}

td {
	padding: 5px;
}

#projectGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15ch, 270px));
}

.projectEntry {
	display: grid;
	height: 5em;
	padding: 2rem;
}

.inline {
	cursor: pointer;
}

.tocH2 {
	cursor: pointer;
	color: var(--darkred);
}

.tocH3 {
	margin-left: 10px;	
	cursor: pointer;
	color: var(--darkred);
}

.tocH4 {
	margin-left: 20px;	
	cursor: pointer;
	color: var(--darkred);
}

#toc {
	 margin-top: 0.5em;
	 font-size: 0.7em;
	 display: grid;
	 grid-template-columns: 1fr 10px;
}

#caption {
	font-size: 0.75em;
	color: #404046;
	writing-mode: vertical-lr;
	margin: 1rem 1rem 0.25rem 0.25rem;
}

/*@media (max-width: 1000px) {
	#main {
		display: grid;
		grid-template-columns: 250px 1fr 25px;
	}
}*/

#navigator {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #404046;
	width: 100vw;
	height: 3em;
	z-index: 10;
}

.navigatorElement {
	font-family: var(--f_reg);
	font-size: 2.5em;
	background-color: #404046;
	color: var(--lighter);
	cursor: pointer;
}

input::placeholder { 
	color: var(--lighter);
}

@media (hover: none) and (pointer: coarse) {

	p {font-size: 3vw;}
	li {font-size: 3vw;}
	a { font-size: 3vw; }

	h2 { font-size: 6vw; }
	h3 { font-size: 5vw; }
	h4 { font-size: 4vw; }

    #main {
		display: grid;
		grid-template-columns: 1fr;
	}

	#caption {
		font-family: var(f_reg);
		width: 30px;
		color: #404046;
		writing-mode: vertical-lr;
		margin: 0.5rem 0 0.25rem 0.25rem;
	}

	#header {
		width: auto;
		height: 350px;
		display: grid;
		grid-template-columns: 1fr 6vw;
	}

	#headerimage {
		float: left;
	}

	#bar {
		width: 100vw;
	}

	#goButton {
		font-size: 2em;
		text-align: center;
		width: 50px;
		background: grey;
		color: var(--brightred);
	}

	#bar {
		height: 2em;
		margin: 0;
		display: grid;
	    grid-template-columns: 1fr 50px;
	}

	#footer {
	width: 100vw;
	padding: 0;
	font-size: 2.5vw;
	}

	.footerItem {
	color: white;
	max-width: none;
	margin: 2rem;
}
}