:root {
	/*blues*/
	--brightblue: #9FBCC2;
	--darkblue: #527785;
	/*reds*/
	--brightred: #C99D9D;
	--darkred: #A46666;

	/*greys*/
	--lighter: #EAEBEF;
	--light: #A4A4A4;
	--dark: #636f74;
	--darker: #3f464a;
}

--f_reg: 'mononoki_regular';
  --f_bold: 'mononoki_bold';
  --f_italic: 'mononoki_italic';
  --f_bold_italic: 'mononoki_bold_italic'; 



p {
	font-size: 1vw;
}

li {
	padding: 0.3em 0 0.3em 0;
}

datalist {
	position: top;
}

html, body {
    max-width: 100%;
}

blockquote {
	display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 2em;
    margin-inline-end: 1em;
}

blockquote > p {
	width: fit-content;
	color: black;
	background: white;
	padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}

#header {
	height: 75%;
	display: grid;
	grid-template-columns: 1fr 250px;
}

#main {
	display: grid;
	grid-template-columns: 250px 1fr 250px;
}

h2 {
	margin-top: 0.45em;
}

#footer {
	font-size: 0.8em;
	margin-top: 3em;
	background-color: var(--brightblue);
	padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.footerItem {
	color: white;
	max-width: 250px;
}

#headerImage {
	height: 75vh;
	overflow: hidden;
	background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}

#meta {
	position: relative;
	background-color: var(--light);
	word-break: break-all;
	color: white;
}

#goto {
	width: 250px;
	font-family: var(--f_reg);
	font-size: 2em;
	background-color: var(--darker);
	color: var(--brightred);
	position: absolute;
    bottom: 0;
    left: 0;
    border: none;
}

#sidebar {
	margin: 1em 25px 25px 25px;
}

#sidebarElement {
	position: -webkit-sticky;
	position: sticky;
	top: 2rem;
	margin: 0 0 1rem;
}

#bottomimg {
	position: absolute;
    top: 35px;
    left: 15px;
}

#vertical {
	top: 25px;
	left: 25px;
	padding: 40px 5px 5px 5px;
	writing-mode: vertical-rl;
	position: absolute;
	color: var(--lighter);
	background: var(--brightred);
}

.sider {
	color: var(--lighter);
	cursor: pointer;
	font-family: var(--f_bold);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img {
	width: 100%;
}

body {
	margin: 0;
	background: var(--lighter);
	color: var(--darkblue);
	background-size: 80px 80px;
    font-family: var(--f_reg);
}

hr {
	border: 0.5px solid var(--brightblue);
}

#title {
  font-size: 3.5rem;
  writing-mode: vertical-rl;
  color: var(--light);
  padding: 1rem;
  font-family: var(--f_bold);
  border-style: solid;
  border-color: var(--light);
  border-width: 1rem;
}

a {
	color: var(--darkred);
	text-decoration: none;	
}

.content {
	width: 800px;
}

td {
	padding: 5px;
}

#projectGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15ch, 270px));
}

.projectEntry {
	display: grid;
	height: 5em;
	padding: 2rem;
}

.inline {
	cursor: pointer;
}

.tocH2 {
	cursor: pointer;
	color: var(--darkred);
}

.tocH3 {
	margin-left: 10px;	
	cursor: pointer;
	color: var(--darkred);
}

.tocH4 {
	margin-left: 20px;	
	cursor: pointer;
	color: var(--darkred);
}

#toc {
	 margin-top: 0.5em;
	 font-size: 0.7em;
	 display: grid;
	 grid-template-columns: 1fr 10px;
}

#caption {
	font-size: 0.8em;
	color: var(--darker);
	writing-mode: vertical-lr;
	margin: 0.5rem 1rem 1rem 0.25rem;
}

/*@media (max-width: 1000px) {
	#main {
		display: grid;
		grid-template-columns: 250px 1fr 25px;
	}
}*/

@media (hover: none) and (pointer: coarse) {

	p {font-size: 3vw;}
	li {font-size: 3vw;}
	a { font-size: 3vw; }

	h2 { font-size: 6vw; }
	h3 { font-size: 5vw; }
	h4 { font-size: 4vw; }

	#content {
		margin: 4rem 2rem 2rem 2rem;
		width: 100vw;
	}

    #main {
		display: grid;
		grid-template-columns: 1fr;
	}

	#caption {
		font-family: var(f_reg);
		font-size: 4vw;
	}

	#header {
		width: 100vw;
		height: 75%;
		display: grid;
		grid-template-columns: 1fr 6vw;
	}

	#bar {
		width: 100vw;
	}

	#goButton {
		font-size: 2em;
		text-align: center;
		width: 50px;
		background: grey;
		color: var(--brightred);
	}

	#bar {
		height: 2em;
		margin: 0;
		display: grid;
	    grid-template-columns: 1fr 50px;
	}

	#footer {
	width: 100vw;
	font-size: 2.5vw;
	}

	.footerItem {
	color: white;
	max-width: none;
	margin: 2rem;
}
}

#navigator {
	background-color: var(--dark);
	width: 100vw;
	height: 3em;
	margin-bottom: 2rem;
}

.navigatorElement {
	font-family: var(--f_reg);
	font-size: 2.5em;
	background-color: var(--dark);
	color: var(--lighter);
	cursor: pointer;
}

input::placeholder { 
	color: var(--lighter);
}