@import url('https://fonts.googleapis.com/css?family=Yatra+One');

@font-face {
  font-family: 'Inter UI';
  src: url('assets/Inter-Regular.woff') format('woff'),
    url('assets/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI Bold';
  src: url('assets/Inter-Bold.woff') format('woff'),
    url('assets/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Inter UI Light';
  src: url('assets/Inter-Light-BETA.woff') format('woff');
  font-weight: light;
  font-style: light;
}

#org {
  margin-left: 1.5rem;
}

.titleContainer {
    padding: 1rem 1rem 0rem 1rem;
}

     .title {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding: 0 0 0.5rem 0;
     }

     #yatraTitle {
      margin-top: -0.1rem;
     }

     #oneLiner {
      padding-left: 1rem;
      padding-right: 0.5rem;
      margin-bottom: 0.5rem;
     }

.header {
    padding: 0.5 1rem 0rem 1rem;
    background-color: black;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));   
}

    .btn {
      color: white;
      border: none;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      background-color: black;
      font-size: 0.8rem;
      cursor: pointer;
      display: inline-block;
      margin: 0rem 0.2rem 0rem 0.2rem;
    }

    .btn:hover {
      color: black;
      background: white;
    }

 .projects {
    display: grid;
    padding: 1.5rem 1rem 1rem 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

    .card {
        display: grid;
        filter: gray; /* IE5+ */
        cursor: pointer

    }

        .card__description {
            padding: .5rem;
            line-height: 1.6em;
        }

    .card:hover {
        filter: none;
          
        }

.page {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.media {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.medium {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
}

.study {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px dashed rgba(0, 0, 0, .5);
}

.study:hover {
  cursor: pointer;
}

.manifestations {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

  .entry {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px dashed rgba(0, 0, 0, .5);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 20em;
  }

  .entry:hover {
    cursor: pointer;
  }

/*.about {
  display: grid;
  padding: 0.5rem 1rem 1rem 1rem;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
}*/

.footer{
    padding: 1rem;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: 1fr 70px 30px 40px;
}

.footerItem {
  align-self: center;
  justify-self: center;
}

#index {
  display: grid;
  grid-auto-columns: fit-content(30px);
  grid-auto-flow: column;
  grid-gap: 10px;
}

#manifestationHeader {
  display: grid;
  font-size: 2em;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 0.5rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  justify-items: center; 
}

h1,h2,h3,h4,h5,strong {
  font-family: 'Inter UI', 'Helvetica Neue', 'Arial', sans-serif;
}

html {
    font-size: 17px;
    font-family: 'Inter UI', 'Helvetica Neue', 'Arial', sans-serif;
}

*{
  background-color: #FFFFFF;
  background-image: url("concrete-wall.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter UI Light', sans-serif;
}

body {
    padding-top: 5%;
    max-width: 850px;
    margin: auto;
}

p{
    text-align: left;
    vertical-align: top;
    font-family: 'Inter UI Light', sans-serif;
    line-height: 1.5em;
}

a {
    text-decoration:none;
    font-family: 'Inter UI', sans-serif;
    color: #8d6d6d;
}

a:hover {
    color:black;
    text-decoration:none;
}

h4 {
    margin:0;
}

b {
  font-family: 'Inter UI', sans-serif;
}

img{
    width: 100%;
    margin:0;
    object-fit: contain;
    max-width: 100%;
    filter: saturate(50%);
}

.purecolor{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: black;
}
  .purecolor:hover {
        color: black;
        background: white;
      }

@-webkit-keyframes colorchange {
      0% {
        
        color: #4669ff;
      }
      
      10% {
        
        color: #ff5946;
      }
      
      20% {
        
        color: #ff9d21;
      }
      
      30% {
        
        color: #ff46a0;
      }
      
      40% {
        
        color: #38d292;
      }
      
      50% {
        
        color: #ff5946;
      }
      
      60% {
        
        color: #ff9d21;
      }
      
      70% {
        
        color: #4669ff;
      }
      80% {
     
        color: #ff46a0;
      }
      
      90% {
     
        color: #38d292;
      }
      
      100% {
        
        color: #ff5946;
      }
    }
