@font-face {
    font-family: Amplify;
    src: url(amplifyxx-webfont.ttf);
}

<<<<<<< Updated upstream
=======
@font-face {
    font-family: AmplifyBold;
    src: url(Amplify-Bold.ttf);
}

@font-face {
    font-family: BentonSans;
    src: url(BentonSans-Medium.ttf);
}

>>>>>>> Stashed changes
.flex-header {
  justify-content: center;
  display: flex;
  margin: auto;
<<<<<<< Updated upstream
  max-width: 1000px;
}

h2 { 
   position: relative; 
   top: -180;
   left: 80;
   width: 100%; 
   font-size: 8vw;
=======
  max-width: 960px;
>>>>>>> Stashed changes
}

.flex-grid {
  justify-content: center;
  display: flex;
  
}
.flex-grid .col {
  flex: 1;
  align-items: center;
  justify-content: center;
   
}
.flex-grid-thirds {
  display: flex;
  justify-content: center;
  
  
}
.flex-grid-thirds .col {
  width: 100%;
  max-width: 500px;
  justify-content: center;  
<<<<<<< Updated upstream
=======
  font-family: "Amplify", sans-serif; 
  font-size: medium;
  color: #666666
>>>>>>> Stashed changes
}

.flex-heading {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-grow: 1;
}

.flex-wrapper {
  flex-direction: column;
  max-width: 500px;
  justify-content: center;  
}

@media all and (max-width: 1060px) and (min-width: 600px) {

.flex-heading {
  justify-content: center;
  display: flex;
  margin: auto;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 3vw;
  color: orange;
}
}

@media (max-width: 300px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: white;
  padding: 20px;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

<<<<<<< Updated upstream
html, body, form, fieldset, table, tr, td, img {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;
}

img {
    max-width: 100%;
    max-height: 100%;
=======
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imgcontainer {

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-height: 100%;
  max-width: 100%;
}

strong {
   font-family: "AmplifyBold", sans-serif;
>>>>>>> Stashed changes
}

h1 {
 overflow: hidden;
 text-align: center;
 font-family: "Amplify", sans-serif;
<<<<<<< Updated upstream
 color: grey;

}
=======
 color: #333333;
}

>>>>>>> Stashed changes
h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}
<<<<<<< Updated upstream
=======

p {
  font-family: "Amplify", sans-serif; 
  font-size: medium;
}

>>>>>>> Stashed changes
