/* fonts */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

/* layouting */

.titleContainer {
    padding: 1rem 1rem 0rem 1rem;
}

     .title {
        border-bottom: 1px solid black;
        padding: 0 0 0.5rem 0;
     }

.header {
    margin: 0 1% 1rem 1rem;
    display: flex;
    align-items: center;
    align-content:center;
}

    .btn {
      border: none;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      background-color: inherit;
      font-size: 0.8rem;
      cursor: pointer;
      display: inline-block;
    }

    .btn:hover {background: #eee;}

.visualationArea{
  display: grid;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 5% 90% 5%;
  width: 100vw;
}
    .graph{
      display: grid;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      height:320px;
      margin: 0 0 0 1rem;
    }

    .calendar{
      display: grid;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2; 
      height:320px;
    }

.informationArea{
  display: grid;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 5% 90% 5%;
  width: 100vw;
}

    .input{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      height:90vh;
    }

      .book{
        border-radius: 15px 50px 30px 5px;
        margin: 1rem;
      }

    .intersection{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; 
      place-self: center;
    }

        .tree{

        }

    .output{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2; 
        height:90vh;
        width: 100%;
    }

        #canvas{
          padding: 1rem 0 1rem 0
        }

        .audio{
            fill: #0B91FF;
            pointer-events: all;
        }

        .visual{
            fill: #6EBEFF;
            pointer-events: all;
        }

        .research{
            fill: #B6DEFF;
            pointer-events: all;
        }

        .no_entry{
            fill: #405B72;
        }

        #viz{
            margin: auto
        }

        .projectContainer{
          display: grid;

          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .project_description{
            display: grid;
        }

.card-container {
    display: grid;
    padding: 0.5rem 1rem 1rem 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

    .card {
        display: grid;
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .3s ease-in-out; 
    }

        .card__description {
            padding: .5rem;
            line-height: 1.6em;
            background-color: #405B72;
            border-radius: 10px 10px 10px 10px;
        }

    .card:hover {
        filter: none;
          -webkit-filter: grayscale(0);
        }

.footer{
    margin: 0 12.5% 0 12.5%
}

/* styling */

b {
  background-color: inherit;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

*{
  background-color: slategrey;
  background-image: url("concrete-wall.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
    margin: 2rem 2rem 2rem 2rem;
    max-width: 1200px;
}

p{
    margin: 0;
    text-align: left;
    vertical-align: top;
    color: white;
    background-color: inherit;
}


h4 {
    margin:0;
    text-align: center;
    color: white;
    background-color: inherit;
}

ul,li {
   list-style:none;
   margin:0;
   padding:0;
}

img{
    border-radius: 2px;
    border: 1px solid;
    width: 100%;
    margin:0;
    object-fit: contain;
    max-width: 100%;
}

.purecolor{
  -webkit-animation:colorchange 80s infinite alternate;
}

@-webkit-keyframes colorchange {
      0% {
        
        color: #4669ff;
      }
      
      10% {
        
        color: #ff5946;
      }
      
      20% {
        
        color: #ff9d21;
      }
      
      30% {
        
        color: #ff46a0;
      }
      
      40% {
        
        color: #38d292;
      }
      
      50% {
        
        color: #ff5946;
      }
      
      60% {
        
        color: #ff9d21;
      }
      
      70% {
        
        color: #4669ff;
      }
      80% {
     
        color: #ff46a0;
      }
      
      90% {
     
        color: #38d292;
      }
      
      100% {
        
        color: #ff5946;
      }
    }
