@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,strong {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0;
}

.title {
	font-size: 2rem;
}

.author {
	font-size: 1.5rem;
}

.initiationDate {
	font-size: 1.5rem;
}

.date {
	background-color: palegoldenrod;
}

.done {
	background-color: lightgreen;
}

.todo {
	background-color: lightpink;
}

.deadline {
	background-color: lightpink;
}

.timestamp {
	background-color: lightblue;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.duration {
	color: crimson;
}

.indent-1 {
    margin-left: 30px;
}

.indent-2 {
    margin-left: 30px;
}

.indent-3 {
    margin-left: 30px;
}

.indent-4 {
    margin-left: 30px;
}

.indent-5 {
    margin-left: 30px;
}